@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");


html, body {
    font-family: "Roboto", sans-serif;
    color: black;

}



a {
    text-decoration: none;
}

.redText {
    color: #dc2121;
}

.greenText {
    color: #278e15;
}

.pageMask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
}



@media screen and (max-width: 600px) {
	.content {
		margin-top: 150px;
	}
}

@media screen and (max-width: 500px) {
	.content {
		margin-top: 130px;
	}
}

@media screen and (max-width: 1055px) {
    .highHeader {
        margin-top: 290px;
    }
}

